<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Event Updates Demo</title>

</head>
<body>
<div id="body">
    <ul id="events">
        {% for event in object %}
            <li id="event_{{ event.id }}" project="{% if event.project %}{{ event.project }}{% endif %}">{{ event.event_type }}: {{ event.data }}</li>
        {% endfor %}
    </ul>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/socket.io.js" type="text/javascript"></script>
<script type="text/javascript">
    function callEventUpdates(success_handler , error_handler){
        var last_event_id = $('#events li:last-child').attr('id').replace('event_', '');
        var project = $('#events li:last-child').attr('project');
        var args = {
            project: project,
            latest_event_id: last_event_id
        };
        $.ajax({url: '/event/updates', data: $.param(args, true), dataType: 'json', type: 'GET', async: true,
            success: success_handler,
            error: error_handler
        });
    }
    var updater = {
        errorSleepTime: 500,

        poll: function() {
            callEventUpdates(updater.onSuccess, updater.onError);
        },

        onSuccess: function(response) {
            // normal for loop seems to be the faster way to do things somehow
            // http://jsperf.com/foreach-vs-jquery-each/9
            for (var index = 0, len = response.length; index < len; index++) {
                var event_item = response[index];
                var new_li = $('<li>');
                new_li.attr('id', 'event_'+event_item['id']);
                new_li.attr('project', event_item['project']);
                new_li.html(event_item['event_type']+': '+event_item['data']);
                $('#events').append(new_li);
            }

            updater.errorSleepTime = 500;
            window.setTimeout(updater.poll, 0);
        },

        onError: function(response) {
            updater.errorSleepTime *= 2;
            console.log("Poll error; sleeping for", updater.errorSleepTime, "ms");
            window.setTimeout(updater.poll, updater.errorSleepTime);
        }

    };

    var socket = io.connect('http://127.0.0.1:8000/event/updates');
    socket.on('connect', function () {
        $('#chat').addClass('connected');
        socket.emit('subscribe', 'http://127.0.0.1:8001/project/PAM');
    });
    socket.on('new_event', function(from, event_item){
        var new_li = $('<li>');
        new_li.attr('id', 'event_'+event_item['id']);
        new_li.attr('project', event_item['project']);
        new_li.html(event_item['event_type']+': '+event_item['data']);
        $('#events').append(new_li);
    });
    $(function(){
{#        updater.poll();#}
    });
</script>
</body>
</html>