Django==1.4
coverage==3.5.1
django-nose==1.0
nose==1.1.2
djangorestframework==0.3.3
django-serene==0.0.5
mock==0.8.0
simplejson==2.1.2
git+git://github.com/Proteus-tech/django-request-local.git
south
git+git://github.com/Proteus-tech/django-logger.git

# we need sdjango in gevent-socketio, that's why we are using directly from github
git+git://github.com/abourget/gevent-socketio.git